server:
  ssl:
    key-store: /security/certs/gundmann.pfx
    key-store-password: {cipher}b7917a9d7f5d4d9eabd46a4d16ce4337bb42e1d7c42d2c09fac51cdf8eddadcb
    key-store-type: PKCS12

dk:
  gundmann:
    security:
      secret: {cipher}c7c7b1a83317a70a2427f918542d365a04c0f6a10303febfef14772abb80b50ef45f9a0f449d84bf378ec57f98192ebd3d37865ee9a02cbb0eb66b9d1bf942e8
      tokenPrefix: gundmann
      headerString: Authorization
      mailPassword: {cipher}7173a4c253e033d72e975ea08dc4c62fd040123981d5f4fef411b1acc962dfc8
      syspassword: {cipher}c04e062d96a90c5dc4bbd2f7d9135ef1dec37abe42e5972dd18d7f3efe329910721533057c97e9813e845c7bd425cb77edc165a346872504024abfcdc03204a611de386008808b2e918a952867905c13