server:
  ssl:
    enabled: true
    key-store: /security/certs/gundmann.pfx
    key-store-password: '{cipher}b7917a9d7f5d4d9eabd46a4d16ce4337bb42e1d7c42d2c09fac51cdf8eddadcb'
    key-store-type: PKCS12

spring:
  boot:
    admin:
      client:
        username: tim
        password: '{cipher}5930ce1dd8cff9d0fe9002ea488964786df68ecc021528ad6af46617da54c98c'
        url: ${dk.gundmann.host.ip}:2222/admin/admin
        instance:
          management-base-url: ${dk.gundmann.host.domain}/${server.servlet.context-path:}
          service-url: ${dk.gundmann.host.domain}${server.servlet.context-path:/}
          
management:
  ssl:
    enabled: true
